.time{
    display: flex;
    width: 450px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
        span{
            background-color: #2ac3cb;
            line-height: 30px;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
}

@media screen and (max-width:550px) {
    .time{
        width: 100%;
    }
}