main {
    width: 100%;
    
    .container-category-item {
        width: 70%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        h4 {
            width: 100%;
            padding: 20px 20px;
            color: white;
            font-size: 17px;
        }

       
    }
}

@media screen and (max-width:570px) {
    main{
        .container-category-item{
            width: 100%;
            justify-content: center;
        }
        .categoryItemData{
            width: 100%;
            flex-direction: row;
            justify-content: center;
            a{
                margin: 10px;
            }
            h4{
                width: 100%;
                text-align: center;
            }
            
        }
    }
}



.categoryItemData {
    width: 20%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    a {
        color: #000;
        padding: 9px 0;
        transition: .5s;

        &:hover {
            transform: translateX(10px);
            color: #000;

        }

        span {
            color: gray;
        }
    }

    h4 {
        font-family: 'Caveat', cursive;
        font-size: 29px;
        font-weight: 600;
    }
}